.main-container {
    display: flex;
    justify-content: center;
    padding: 0 50px 50px 50px;
    gap: 50px;
}

.form-section {
    border-radius: 20px;
    background-color: var(--blanco);
    border: 1px solid var(--negro-10);
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    max-width: 700px;
}

.field-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.field textarea {
    resize: none;
    padding: 12px 15px;
    border: 1px solid var(--gris-claro);
    border-radius: 20px;
    background-color: var(--fondo-claro);
    font-size: 16px;
}

.order-section {
    border-radius: 20px;
    background-color: var(--blanco);
    border: 1px solid var(--negro-10);
    flex: 0 0 35%;
    padding: 30px;
    max-height: 500px;
}

.campos-en-linea {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.campos-en-linea .field {
    flex: 1;
}

h3 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--fuente-titulos);
}

.mi-icono {
    font-size: 32px;
    color: var(--naranja);
    font-variation-settings: 'FILL' 1;
}

select {
    width: 100%;
    padding: 15px;
    border: 1px solid var(--gris-claro);
    border-radius: 20px;
    background-color: var(--fondo-claro);
    font-size: 16px;
    appearance: none;
}

.order-item {
    display: flex;
    align-items: center;
    margin: 25px 0;
    gap: 25px;
}

.linea-total {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.item-price {
    color: var(--naranja);
    font-weight: bold;
    font-size: 20px;
}

.item-total-price {
    color: var(--negro);
    font-weight: 900;
    font-size: 25px;
}

.img-pedido {
    width: 70px;
    height: 70px;
    border-radius: 20px;
}

.info-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

input {
    background-color: var(--fondo-claro);
    border: 1px solid var(--gris-claro);
    border-radius: 20px;
    padding: 15px;
    width: 100%;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.button {
    background-color: var(--naranja);
    color: var(--blanco);
    border: 1px solid var(--naranja);
    border-radius: 50px;
    padding: 12px 40px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-top: 8px;
    text-align: center;
}

.order-section .button {
    width: 100%;
}

.btn-confirmar {
    padding: 15px 0;
}
